<div class="footer">
    <div class="about-me">
        <h3>About Me</h3>
        <hr>
        <p>I am <strong>Pratik Rauniyar</strong>. 
            I am a junior computer science major at the 
            University of Idaho. I am interested in <strong>web 
            development, machine learning, and artificial 
            intelligence</strong>.</p>
    </div>
    
    <div class="quick-links">
        <h3>Connect With Me</h3>
        <hr>
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/pratik-rauniyar-531a97174/" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/rauniyar.pratik/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
    </div>
    
    <div class="contacts">
        <h3>Contacts</h3>
        <hr>
        <p>prateekrauniyar345@gmail.com</p>
    </div>
</div>
