<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- cdn for using the leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- leaflet draw plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <title>Test Map</title>
</head>
<body>
    <div class = header-row>
        <h1 class = "header" style = "text-align: center;"> Locate A Nearest Park to You.</h1>
    </div>
    <div class = "inst_and_map">
        <div id = "inst">
            {% block instruction %}
            {% endblock %}
        </div>
        <div id="map">
            <div class = "zoom-level-control" id = "zoom-level"></div>
            <script src="{{url_for('static', filename='map.js')}}"></script>
        </div>
    </div>
    <div class = "res">
        {% block result %}
        {% endblock %}
    </div>
    <div class="foo">
        {% block footer %}
        {% endblock %}
    </div>
    
</body>
</html>