<div id = 'line1'>
    <p class = "para">Let's learn how to use:</p>
    <p class = "para">Step :1</p>
    <p class = "desc">Decide a location and zoom-in on the map to locate a location.</p>
    <p class = "para">Step :2</p>
    <p class = "desc">Draw the shape on the map using drawing tools.
       You can use various drawing tools like polygons, rectangles, and circles.
       Make sure to cover your area.
    </p>
    <p class = "para">Step :3</p>
    <p class = "desc">After drawing the shape, click on Locate Park button below.</p>
</div>
<div id = "btn">
    <button class = "button" type = "button" id = "btn-send-result" style = "font-weight: 500;">Located Park</button>
    <button class = "button" type = "button" id = "btn-send-home" style = "font-weight: 500;">Try Again</button>
</div>

<!-- script for the result page -->
 <script>
    function goResult(){
        window.location.href = '/result';
    }

    function goHome(){
        window.location.href = '/'
    }
    const buttonHome = document.querySelector('#btn-send-home');
    buttonHome.addEventListener('click', goHome);

    const buttonResult = document.querySelector('#btn-send-result');
    buttonResult.addEventListener('click', goResult);
 </script>