<div id = 'line1'>
    <p class = "para">Let's learn how to use:</p>
    <p class = "para">Step :1</p>
    <p class = "desc">Decide a location and zoom-in on the map to locate a location.</p>
    <p class = "para">Step :2</p>
    <p class = "desc">Draw the shape on the map using drawing tools.
       You can use various drawing tools like polygons, rectangles, and circles.
       Make sure to cover your area.
    </p>
    <p class = "para">Step :3</p>
    <p class = "desc">After drawing the shape, click on Locate Park button below.</p>
</div>
<div id = "btn">
    <button class = "button" type = "button" id = "btn-send" style = "font-weight: 500;">Located Park</button>
</div>